@font-face{font-family:'Inter';font-weight:400;font-style:normal;font-display:swap;src:local(''), url('fonts/Inter-Regular.woff2') format('woff2'), url('../fonts/Inter-Regular.woff') format('woff')}
@font-face{font-family:'Inter';font-weight:500;font-style:normal;font-display:swap;src:local(''), url('fonts/Inter-Medium.woff2') format('woff2'), url('../fonts/Inter-Medium.woff') format('woff')}
@font-face{font-family:'Inter';font-weight:700;font-style:normal;font-display:swap;src:local(''), url('fonts/Inter-Bold.woff2') format('woff2'), url('../fonts/Inter-Bold.woff') format('woff')}

:root{
	--border-radius-0: 0;
	--border-radius-1: 8px;
    --border-radius-1-0-0-0: 8px 0 0 0;
    --border-radius-0-1-0-0: 0 8px 0 0;
    --border-radius-0-0-1-0: 0 0 8px 0;
    --border-radius-0-0-0-1: 0 0 0 8px;
    --border-radius-1-1-0-0: 8px 8px 0 0;
    --border-radius-0-1-1-0: 0 8px 8px 0;
    --border-radius-0-0-1-1: 0 0 8px 8px;
    --border-radius-1-0-0-1: 8px 0 0 8px;
    --border-radius-0-1-1-1: 0 8px 8px 8px;
    --border-radius-1-0-1-1: 8px 0 8px 8px;
    --border-radius-1-1-0-1: 8px 8px 0 8px;
    --border-radius-1-1-1-0: 8px 8px 8px 0;
}

html, body {height:100%;margin:0;padding:0;font-family:'Inter', sans-serif;color:#424242;text-rendering:optimizeLegibility}

h1, h2, h3, h4, h5, h6, p {margin-top:0}

.handle {cursor:grab!important}
.handle-active select {border:solid 1px #222}

.page-header {vertical-align:middle;margin:20px 0 15px 0;padding:0;border-bottom:1px solid #e9e9e9}
.page-header h1 {font-size:30px;color:#4c4d5a;display:inline-block;margin-bottom:15px}
.page-header h1 b{font-weight:500}

.breadcrumb {background:none;margin:0px 0 10px 0;padding:0;border-radius:0}
.breadcrumb li a {color:#999;font-size:14px;padding:0px;margin:0px}
.breadcrumb li a:hover {text-decoration:none}
.breadcrumb li + li:before {content:"\f105";font-family:FontAwesome;color:#bbb;padding:0 5px; font-size:10px}

a:hover, a:focus {text-decoration:none}

#container {min-height:100%;width:100%;position:relative;background:#f7f7f7;overflow:hidden}

.container-fluid {padding:0 20px}

.dropdown-menu{border-radius:var(--border-radius-1)}

#header {min-height:0px;background:#fff;border-bottom:1px solid #d8d8d8;margin:0;padding:0;box-shadow:0px 0px 3px #ccc}
#header .container-fluid {padding:0}
#header .navbar-header {transition:0.3s all;border-right:1px solid #eee;width:235px;display:none}
#header .navbar-brand {margin-left:8px}
#header .navbar-nav > li {display:inline-block}
#header .navbar-right > li {border-left:1px solid #eee}
#header .navbar-right {margin-right:0;margin:0px 0px 0px 0px;float:right}
#header #user-profile {max-width:30px;margin-right:15px}
#header .nav > li > a {padding:0px 21px;line-height:45px;cursor:pointer;color:#6D6D6D;border-left:0px solid #E1E1E1}
#header .nav > li.dropdown > a {padding-left:10px;padding-right:10px}
#header .nav > li.dropdown > a {padding-left:10px;padding-right:10px}

/* Desktop */
@media (min-width:768px) {
    #header .navbar-header {display:inline-block}
    #header #user-profile {max-width:none}
    #header .nav > li > a {line-height:60px}
}

#button-menu {line-height:30px;font-size:24px;float:left;padding:10px 16px;line-height:25px;display:inline-block;cursor:pointer;color:#6D6D6D;border-right:1px solid #eee}

/* Desktop */
@media (min-width:768px) {
    #button-menu {display:none}
}

#column-left {width:235px;height:100%;overflow:auto;background-color:#242d37;position:absolute;top:0px;left:-235px;padding-top:60px;z-index:10}
#column-left::-webkit-scrollbar {width:10px;background-color:rgba(200, 200, 200, 0)}
#column-left::-webkit-scrollbar-thumb {border-radius:4px;background-color:rgba(128, 139, 156, 0.2)}
#content {padding-bottom:40px}
#column-left, #content, #footer {transition:all 0.3s}
#column-left + #content, #column-left + #content + #footer {position:relative;left:0px}
#column-left.active {left:0px}
#column-left.active + #content, #column-left.active + #content + #footer {left:235px}

/* Desktop */
@media (min-width:768px) {
    #column-left {left:0px}
    #column-left + #content, #column-left + #content + #footer {left:0px;margin-left:235px}
    #column-left.active + #content, #column-left.active + #content + #footer {left:0px;margin-left:235px}
}

/* Navigation */
#navigation {font-weight:700;text-transform:uppercase;padding:15px 15px 15px 21px;color:#fff;background:#19222E;display:block;}
#navigation .fa{width:18px;margin:0 5px 0 0;font-size:16px;}

/* Menu */
#menu, #menu ul, #menu li {padding:0;margin:0;list-style:none}
#menu {margin-bottom:25px}
#menu li a {text-decoration:none;display:block;padding:10px;cursor:pointer;border-bottom:0px solid #515151}
#menu li a.parent:after {font-family:FontAwesome;content:"\f107";float:right;margin-right:8px}
#menu li a.collapsed:after {content:"\f105"}

/* 1st lvl */
#menu > li {position:relative;border-bottom:1px solid #2b3642}
#menu > li > a {font-size:14px;color:#b3cbdd;padding-left:20px;border-bottom:0px solid #585858}
#menu > li > a:hover {background-color:#444}
#menu > li > a > i {font-size:16px;width:18px;margin-right:5px}
#menu > li.active > a {color:#0b91d2;background-color:#171b21}
#menu > li > ul {background-color:#293141}

/* 2nd lvl */
#menu li li a {color:#7f8a9b}
#menu li li a:before {content:"\f101";font-size:13px;font-family:FontAwesome;margin-left:10px;margin-right:10px;transition:margin ease 0.5s}
#menu li li a:hover:before {margin-right:20px}
#menu li li a:hover {color:#fff;background-color:#242d37}
#menu li li.active > a {color:#0b91d2;background-color:#242d37}
#menu li ul a {padding-left:20px}
#menu li li ul a {padding-left:40px}
#menu li li li ul a {padding-left:60px}
#menu li li li li ul a {padding-left:80px}

/* footer */
#footer {height:100px;padding:0 20px;text-align:center}

/* Navs
/* Tabs */
.nav-tabs > li > a {color:#a5a5a5;border-radius:var(--border-radius-1-1-0-0)}
.nav-tabs > li > a:hover {border-color:#eee #eee #ddd}
.nav-tabs {margin-bottom:25px}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {font-weight:bold;color:#333}

.nav-pills > li > a {border-radius:var(--border-radius-1)}

.col-sm-2 .nav-pills{margin-bottom:20px}

.form-control{border-color:#ddd;border-radius:var(--border-radius-1)}
.form-control:hover {border:1px solid #b9b9b9;border-top-color:#a0a0a0;box-shadow:inset 0 1px 2px rgba(0, 0, 0, .1)}

.input-group .input-group-addon{border-radius:var(--border-radius-1-0-0-1)}
.input-group * + .input-group-addon{border-radius:var(--border-radius-0-1-1-0)}

div.required .control-label:not(span):before, td.required:before {content:'* ';color:#F00;font-weight:bold}

.btn-group {min-width:74px !important;white-space:nowrap}

.table thead td span[data-toggle="tooltip"]:after, label.control-label span:after {font-family:FontAwesome;color:#1E91CF;content:"\f059";margin-left:4px}

fieldset legend {margin:0 0 15px;padding-bottom:5px;font-weight:700;font-size:1.4em;border:0;}

input[type="radio"], input[type="checkbox"] {margin:2px 0 0}

.radio, .checkbox {min-height:18px}

input[type="radio"], .radio input[type="radio"], .radio-inline input[type="radio"], input[type="checkbox"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {position:relative;width:13px;width:16px \0;height:13px;height:16px \0;-webkit-appearance:none;background:white;border:1px solid #dcdcdc;border:1px solid transparent \0;border-radius:1px}
input[type="radio"]:focus, .radio input[type="radio"]:focus, .radio-inline input[type="radio"]:focus, input[type="checkbox"]:focus, .checkbox input[type="checkbox"]:focus, .checkbox-inline input[type="checkbox"]:focus {border-color:#4d90fe;outline:0}
input[type="radio"]:active, .radio input[type="radio"]:active, .radio-inline input[type="radio"]:active, input[type="checkbox"]:active, .checkbox input[type="checkbox"]:active, .checkbox-inline input[type="checkbox"]:active {background-color:#ebebeb;border-color:#c6c6c6}
input[type="radio"]:checked, .radio input[type="radio"]:checked, .radio-inline input[type="radio"]:checked, input[type="checkbox"]:checked, .checkbox input[type="checkbox"]:checked, .checkbox-inline input[type="checkbox"]:checked {background:#fff}
input[type="radio"], .radio input[type="radio"], .radio-inline input[type="radio"] {width:15px;width:18px \0;height:15px;height:18px \0;border-radius:1em}
input[type="radio"]:checked::after, .radio input[type="radio"]:checked::after, .radio-inline input[type="radio"]:checked::after {position:relative;top:3px;left:3px;display:block;width:7px;height:7px;content:'';background:#666;border-radius:1em}
input[type="checkbox"]:hover, .checkbox input[type="checkbox"]:hover, .checkbox-inline input[type="checkbox"]:hover {border-color:#c6c6c6;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .1);-webkit-box-shadow:none \9;box-shadow:inset 0 1px 1px rgba(0, 0, 0, .1);box-shadow:none \9}
input[type="checkbox"]:checked::after, .checkbox input[type="checkbox"]:checked::after, .checkbox-inline input[type="checkbox"]:checked::after {position:absolute;top:-6px;left:-5px;display:block;content:url('../image/checkmark.png')}

.table thead td {font-weight:bold}
.table thead > tr > td, .table tbody > tr > td {vertical-align:middle}
.table a.asc:after {content:" \f106";font-family:FontAwesome}
.table a.desc:after {content:" \f107";font-family:FontAwesome}
.table tr{position:relative}

.pagination {margin:0}

.form-group {padding-top:15px;padding-bottom:15px;margin-bottom:0}
.form-group + .form-group {border-top:1px solid #ededed}
.form-horizontal .form-group .progress {margin-top:10px}
.input-group + .input-group {margin-top:5px}

/* Panels */
.panel {border-radius:var(--border-radius-1);}
.panel > .list-group:last-child .list-group-item:last-child, .panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {border-radius:var(--border-radius-0-0-1-1)}
.panel .panel-heading {position:relative}
.panel-heading h3 i {margin-right:5px;-webkit-tap-highlight-color:rgba(0, 0, 0, 0)}
.panel-heading h3 {font-weight:500;display:inline-block}
.panel-heading .btn-default{background:#fff;border:solid 1px #ddd}

/* Primary Panel */
.panel-primary {border:1px solid #c3e4f6;border-top:2px solid #5cb7e7}
.panel-primary .panel-heading {color:#1e91cf;border-color:#96d0f0;background:white}

/* Default Panel */
.panel-default {/* overflow:hidden; */border:1px solid #dcdcdc;border-top:1px solid #dcdcdc}
.panel-default .panel-heading {color:#4c4d5a;border-color:#dcdcdc;background:#f6f6f6;border-radius:var(--border-radius-1-1-0-0)}

.img-thumbnail i {color:#fff;background-color:#eee;text-align:center;vertical-align:middle;width:100px;height:100px;padding-top:20px;vertical-align:middle;display:inline-block}
.img-thumbnail.list i {width:40px;height:40px;padding-top:10px}

/* Tiles */
.tile {overflow:hidden;margin-bottom:20px;border-radius:var(--border-radius-1);color:#fff;transition:all 1s}
.tile-primary {background-color:#1b80c2}
.tile-success {background-color:#53b953}
.tile-warning {background-color:#f3aa41}
.tile-danger {background-color:#e45847}
.tile:hover {opacity:0.95}
.tile a {color:#fff}
.tile-heading {padding:8px 15px;1text-transform:uppercase;font-weight:600;color:#fff;background-color:rgba(255, 255, 255, 0.1)}
.tile .tile-heading .pull-right {transition:all 1s;opacity:0.7}
.tile:hover .tile-heading .pull-right {opacity:1}
.tile-body {padding:15px;color:#fff}
.tile .tile-body i {font-size:50px;opacity:0.3;transition:all 1s}
.tile:hover .tile-body i {color:#fff;opacity:1}
.tile .tile-body h2 {font-size:42px}
.tile-footer {padding:7px 15px 9px;background-color:rgba(0, 0, 0, 0.1)}
.tile-footer a{font-size:.9em;font-weight:500}

.jqvmap-label {z-index:999}

.alert {overflow:auto;border-radius:var(--border-radius-1)}
.alert > i{margin:0 5px 0 0}

/* Fix form-group margin inside the modal */
.modal-body .form-group {margin:0}

/* Fixed Sumernote Button Height */
.note-toolbar.panel-heading i {font-size:14px}

/* Filemanager Folder Size */
#filemanager .fa-folder.fa-5x {font-size:10.5em}

.list-check {list-style:none}
.list-check li::before {font-family:'FontAwesome';content:'\f00c';margin-left:-30px;width:29px;display:inline-block;color:#7ebd38}
.list-check.list-color-blue li::before {color:#02afe9}

.well{border-radius:var(--border-radius-1)}
.well.filter {background-color:#fff}

/* Search */
@media (max-width:768px) {
	#oc-search-div {display:none}
}

select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height:35px !important;
    margin-bottom:0px !important;
}

#oc-search{padding:0;margin:0}
#oc-search .dropdown-header{margin:5px 0}
#oc-search .caret{margin:0 0 0 10px}
#oc-search .input-group{width:100%}
#oc-search .input-group-addon, #oc-search .input-group-btn {width:1% !important}
#oc-search .btn {margin-top:5px}
#oc-search input {background:#fff none repeat scroll 0 0;border-color:#ddd;box-shadow:none !important;color:#373737 !important;height:35px !important;margin-bottom:0 !important;margin-left:0 !important;margin-right:0 !important;margin-top:5px;padding-top:9px;border-radius:var(--border-radius-0-1-1-0)}
#oc-search ul li a span {margin-left:8px}
#oc-search ul li a{cursor:pointer}
#oc-search-div{padding-left:1px !important;padding-right:0 !important;padding-top:8px !important}
#oc-search-result {display:none;position:absolute;margin:2px 0 0;background-color:#fff;border-radius:var(--border-radius-1);box-shadow:0 6px 12px rgba(0, 0, 0, 0.3);background-clip:padding-box;z-index:999;}
#oc-search-result ul {margin:0 15px 10px;padding:0}
#oc-search-result ul .result-header {margin:15px 0;font-weight:700;white-space:nowrap}
#oc-search-result ul li {list-style:none}
#oc-search-result ul li a {display:flex !important;align-items:center;padding:5px}
#oc-search-result ul li a:hover {background:#f8f8f8}
#oc-search-result ul li a img{}
#oc-search-result ul li a i {float:left;line-height:30px}
#oc-search-result ul li a span{white-space:nowrap;margin-left:10px}

#loader-search {display:none;position:absolute;top:15px;right:15px;z-index:999}

.btn{height:35px;min-width:35px;line-height:35px;padding:0 12px;border:none;border-radius:var(--border-radius-1);outline:none !important;-moz-user-select:none !important;-webkit-user-select:none !important}
.btn-xs{height:28px;line-height:28px;padding:0 8px}
.btn-sm{height:32px;line-height:32px;padding:0 10px}
.btn-lg{height:38px;line-height:38px;padding:0 15px}

.btn-default{color:#555;background:#eee}
.btn-default:hover, .btn-default:focus {color:#555;background:#e5e5e5}
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {color:#333;background:#ddd}

#filter-product .panel-body{}
#filter-product .form-group {padding:0 0 20px;border:none}
#filter-product .form-group:last-child{padding:0}
.open-close-filter{display:none}

.modal-content {border-radius:var(--border-radius-1)}

#form-category .fa-sort-asc, #form-category .fa-sort-desc{position:absolute;padding:0 0 0 2px;transform:translateY(-50%)}
#form-category .fa-sort-asc {top:calc(50% + 2px)}
#form-category .fa-sort-desc {top:calc(50% - 2px)}

.module-category-select{margin:0 0 30px}
.module-category-buttons{margin:0 0 15px}
.module-category-buttons .btn{margin:0 15px 15px 0;font-weight:600}

@media (min-width:992px) and (max-width:1600px) {
    #filter-product{position:fixed;z-index:9999;top:0px;left:auto;right:0;width:400px;padding:0 !important;transform: translateX(100%);box-shadow:0 5px 15px rgba(0 0 0 / .3);transition:transform ease-in-out .15s}
    #filter-product.show{transform: translateX(0);}
    #filter-product .panel-body{overflow-y:auto;max-height:calc(100vh - 30px)}
    #filter-product .panel-default{margin:0}
    #filter-product + .col-md-9.col-sm-12{left:0;width:100%;}
    .open-close-filter{position:absolute;top:200px;left:-37px;display:inline;border-radius:4px 0 0 4px;cursor:pointer;outline:none !important}
}