<style>
    /* Скрываем стандартную фиксированную шапку Maison на странице корзины */
    /* header.fixed.top-0.left-0.right-0 {
        display: none;
    }
    body {
        padding-top: 0 !important;
    } */
</style>

    {# <header class="sticky top-0 left-0 right-0 z-50 bg-white/95 backdrop-blur-md border-b border-gray-200 transition-all duration-300 shadow-sm w-full">
        <div class="max-w-7xl mx-auto px-6 lg:px-12 flex items-center justify-between h-20">
            <div class="flex items-center gap-6 lg:gap-12">
                <a href="/" class="flex items-center gap-3 text-luxury-charcoal">
                    <div class="size-12 flex items-center justify-center text-primary group-hover:text-primary-dark transition-all">
                        <img src="catalog/view/theme/maison/image/logo.png" alt="Maison Textile" class="">
                    </div>
                    <h2 class="text-lg lg:text-2xl font-serif font-bold tracking-wide text-luxury-charcoal">Maison Textile</h2>
                </a>
            </div>
            <div>
                <a href="tel:{{ telephone is defined and telephone ? telephone : '88005553535' }}" class="flex items-center gap-2 border border-gray-200 hover:border-luxury-charcoal hover:bg-luxury-charcoal hover:text-white px-4 py-2.5 rounded-full transition-all duration-300 group">
                    <span class="material-symbols-outlined text-[18px]">call</span>
                    <span class="text-xs font-bold uppercase tracking-widest hidden sm:inline">{{ text_call_order is defined ? text_call_order : 'Заказать по телефону' }}</span>
                </a>
            </div>
        </div>
    </header> #}