            <section class="py-24 bg-background-dark relative overflow-hidden">
                <div
                    class="absolute top-0 right-0 w-[500px] h-[500px] bg-blue-100/30 rounded-full blur-[120px] pointer-events-none">
                </div>
                <div class="max-w-7xl mx-auto px-6 lg:px-12 mb-12 flex justify-between items-end relative z-10">
                    <div>
                        <h2 class="text-luxury-charcoal text-4xl font-serif font-medium tracking-tight">Поиск по
                            категориям</h2>
                        <p class="text-gray-500 mt-3 font-light">Минималистичный текстиль для каждого уголка дома</p>
                    </div>
                    <a class="text-primary text-xs font-bold uppercase tracking-widest flex items-center gap-2 hover:text-luxury-charcoal transition-colors mb-2"
                        href="#">
                        Смотреть все <span class="material-symbols-outlined text-sm">arrow_forward</span>
                    </a>
                </div>
                <div
                    class="max-w-7xl mx-auto px-6 lg:px-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 relative z-10">
                    <div class="group cursor-pointer">
                        <div
                            class="relative bg-white overflow-hidden rounded-sm aspect-[3/4] shadow-soft border border-gray-200 hover:border-primary/30 transition-colors duration-500">
                            <div class="absolute inset-0 bg-cover bg-center transition-transform duration-700 group-hover:scale-110 opacity-90 group-hover:opacity-100"
                                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCvjXnW_JN15E7WXnQAAHJoiZBDmbXPbmFlBuDmeY-XwgDXNDD1A_dIJdsgAZNPv6okd1IxKFp7VDWm_GB0y-6x333ZwmHJjf6pdBpqIImyLVFF93sewe8-3DOndgn90BkBwk6TUsswUmTe0Tc3zOGDp8JZUoWF6tkCjvIe3GXowEAgE-GDV6eI3SCXZ1yFX62bpcLPaKinKtwBRmL3qiRtDHa2uQMmrtCcnaEeko6yY5IlpUs4uJetBdkssNABW1Wvr7wZfrTV0zU");'>
                            </div>
                            <div
                                class="absolute inset-0 bg-gradient-to-t from-slate-900/80 via-slate-900/20 to-transparent opacity-80">
                            </div>
                            <div class="absolute bottom-0 p-6 w-full">
                                <h3
                                    class="text-white text-2xl font-serif mb-1 group-hover:text-primary-light transition-colors">
                                    Бельё с одеялом</h3>
                                <p
                                    class="text-gray-200 group-hover:text-white text-xs uppercase tracking-widest transition-colors">
                                    Готовые решения</p>
                                <div class="h-[1px] w-0 group-hover:w-full bg-white mt-4 transition-all duration-500">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group cursor-pointer">
                        <div
                            class="relative bg-white overflow-hidden rounded-sm aspect-[3/4] shadow-soft border border-gray-200 hover:border-primary/30 transition-colors duration-500">
                            <div class="absolute inset-0 bg-cover bg-center transition-transform duration-700 group-hover:scale-110 opacity-90 group-hover:opacity-100"
                                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuA0CqVewsfaKDaFZAt-LKhXcIH9MfsIuVZLbrQpsqQmz-TpGQSSRPvBGAAtWB9_wAjHwqcXGRyRuL6uIrel38VmELt0GgYt1ZFhURXo-4Ll-5l2d2Sla_U0lenTkyh4_sguJ0ObhdkA8Xdmo_ZDLaPqhxbXDeaVikXWfoYv8SSKvoUASzdXS8HFUjUjmj2kt5iPm-aUz5_whpd3YWoCkrHrxaJ9sc-d7r_PzQa197Dsq-GCL8Gq2ELQODtVDERyHE-2kxbLzAridMU");'>
                            </div>
                            <div
                                class="absolute inset-0 bg-gradient-to-t from-slate-900/80 via-slate-900/20 to-transparent opacity-80">
                            </div>
                            <div class="absolute bottom-0 p-6 w-full">
                                <h3
                                    class="text-white text-2xl font-serif mb-1 group-hover:text-primary-light transition-colors">
                                    Подушки</h3>
                                <p
                                    class="text-gray-200 group-hover:text-white text-xs uppercase tracking-widest transition-colors">
                                    Анатомический комфорт</p>
                                <div class="h-[1px] w-0 group-hover:w-full bg-white mt-4 transition-all duration-500">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group cursor-pointer">
                        <div
                            class="relative bg-white overflow-hidden rounded-sm aspect-[3/4] shadow-soft border border-gray-200 hover:border-primary/30 transition-colors duration-500">
                            <div class="absolute inset-0 bg-cover bg-center transition-transform duration-700 group-hover:scale-110 opacity-90 group-hover:opacity-100"
                                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAttYyEHKfV4awmXktXKZFRucmZYbYmm0sf-IJ_pKzxnx0XH4UzlQ2OvyfuQXoUI9OnF64SWrZsw6tUHR_hBHtIK8gm_pKUAcKqSCDKbk6fjvEe_KHgB1bTDkY5M4Gcl8ohwBJzsGfYfEEALpJa3-6iDRYRm2_Z_PPUuOTFvP5_Qv3V7muVQgErQovx8XqOWS6229DXGRmCvSf6Nle_YEbydkQtW0ZXC5Y0NGsfQMSHkPz8NM0Mq8TY1fjsXo0jlBXHbj4-zcLDcxY");'>
                            </div>
                            <div
                                class="absolute inset-0 bg-gradient-to-t from-slate-900/80 via-slate-900/20 to-transparent opacity-80">
                            </div>
                            <div class="absolute bottom-0 p-6 w-full">
                                <h3
                                    class="text-white text-2xl font-serif mb-1 group-hover:text-primary-light transition-colors">
                                    Пледы и покрывала</h3>
                                <p
                                    class="text-gray-200 group-hover:text-white text-xs uppercase tracking-widest transition-colors">
                                    Текстурный уют</p>
                                <div class="h-[1px] w-0 group-hover:w-full bg-white mt-4 transition-all duration-500">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group cursor-pointer">
                        <div
                            class="relative bg-white overflow-hidden rounded-sm aspect-[3/4] shadow-soft border border-gray-200 hover:border-primary/30 transition-colors duration-500">
                            <div class="absolute inset-0 bg-cover bg-center transition-transform duration-700 group-hover:scale-110 opacity-90 group-hover:opacity-100"
                                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAfkKDLwxux6J1InzxDbHS777zGSEVBTWM9nRNyvLVGa1j6r9_lhZ7XiflWK2D1LQ4-epVntBRpVZDZIZZfNV2-f8IjGPwj1y1qE_ZBYLbXJ92EKmEIj7ITpTM3ZPNg-QCQmRHPHN9kG04xqNcK_XOeG3YVH8gXYsB7cxA-464t7GleXDeUs27O-hG895UKlrQawZ7KuTpRMaFuBcEZFNgJgSy76gXHoX2TmELie0j-mcS5kAi3LTtPwudffa65IKaXdEfBdTpUUgc");'>
                            </div>
                            <div
                                class="absolute inset-0 bg-gradient-to-t from-slate-900/80 via-slate-900/20 to-transparent opacity-80">
                            </div>
                            <div class="absolute bottom-0 p-6 w-full">
                                <h3
                                    class="text-white text-2xl font-serif mb-1 group-hover:text-primary-light transition-colors">
                                    Постельное бельё</h3>
                                <p
                                    class="text-gray-200 group-hover:text-white text-xs uppercase tracking-widest transition-colors">
                                    Премиальный хлопок</p>
                                <div class="h-[1px] w-0 group-hover:w-full bg-white mt-4 transition-all duration-500">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>